<{$bootstrap}>
<{$jquery}>
<{$toolbar}>

<{if ($data.ip)}>
	<{if $have_input }>
    		<div class='alert alert-success'><{ $have_input  }></div>
              <{else}>

    <form action="index.php"  method='post'>
    <fieldset>
    <legend>機器登記</legend>
    <label>你的IP ： <{ $data.ip }></label><br/>
    <label>你的網卡序號 ： <{ $data.mac }></label><br/>
    <label ><button type="button" class="btn btn-primary">已知的舊記錄 ： <{ $data_rec.comp }>- <{ $data_rec.ps }></button></label><br/>
	如果出現 AP 名，代表在無線基地台下，不是實際 IP ，可以不登記。<br/>
    <label>---------------以下填報-------------------</label><br/>
    <label>保管人</label>
    <input type="text" name='user' value='<{ $data_get.user }>' class='form-control'  placeholder="使用人姓名…"><br/>
    <label>機器地點</label>
    <input type="text" name='place' value='<{ $data_get.place }>' class='form-control'  placeholder="地點(多台請加編號)…">
    <br/>
    <{if ($input_mode) }>
    <input name='ip' type='hidden' class='form-control' value='<{ $data.ip }>' />
    <input name='mac' type='hidden' value='<{ $data.mac }>' />
    <input name='id' type='hidden'  class='form-control' value='<{ $data_get.id }>' />
    <button type="submit" class="btn btn-success" name='act_add' value='act_add' >儲存</button>
    <div class='alert alert-info'>如果以上資料不正確，請修改再儲存。</div>
    <{else}>
    	<div class='alert alert-error'>現在不開放登記！<div>
    <{/if}>
    </fieldset>
    </form>
			<a href="<{$client_file}>"><button type="button" class="btn btn-success">
			  下載硬體檢查工具</button></a><br />
				解壓縮後，選擇 setup.bat 點滑鼠右鍵，以系統管理員身份執行。<br>
				每次開機就會自行檢查，並上傳資料到主機中。
    <{/if}>
<{else}>
<h3>你的機器不在校內網域中！</h3>
<{/if}>
