<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/css/xoops_adm.css" />

<!--              查看單台                           -->
<{if ($now_comp)}>

<div class="row-fluid alert alert-success">
	<span class="badge badge-inverse">#<{$now_comp.id}></span>
	<span><{$now_comp.ip}></span>
	<span class="label label-success"><{$now_comp.ip_v6}></span>
	<span class="label label-info"><{$now_comp.comp}></span>
	<span><{$now_comp.workgroup}></span>
	<span><{$now_comp.comp_dec}></span>
	<span><{$now_comp.ps}></span>
	<{if $now_comp.uuid}>
	<br />
	<span><{$now_comp.uuid}></span>
	<span class="label label-info"><{$now_comp.cpu}></span>
	<span><{$now_comp.memory}></span>
	<{/if}>
</div>

<!--              月曆方式統計                          -->
<h2>近30天開機、連線統計</h2>
<table class="table-bordered">
<tr>
	<th class="span1">week</th>
	<{foreach from=$week_name item=day key=d}>
	<th class="span1">
	<{$day}>
	</th>
	<{/foreach}>
</tr>


<{foreach from=$open_week item=week key=w}>
<{if ($w!="list")}>
	<tr>
	<td class="span1"><{$w}></td>
	<{foreach from=$week_name item=day key=d}>

	<{if ($week[$d].data.dangerFG)}>
	<td class="span1 alert-danger" title="硬體更換警示" >
	<{else}>
	<td class="span1 " >
	<{/if}>

		<{if $week[$d].boot}>
		<i class="icon-off" title="開機<{$week[$d].times}>次"></i>*<{$week[$d].times}>(<{$week[$d].D}> 日)<br/>
		<{/if}>
		<{if $week[$d].on}><i class="icon-random" title="<{$week[$d].b}> ~ <{$week[$d].e}>"></i><{$week[$d].b}> ~ <{$week[$d].e}>(<{$week[$d].on_hour}>h)<{/if}>
	</td>
	<{/foreach}>
	</tr>
<{/if}>
<{/foreach}>
</table>

<!--              開機資料                          -->
<h2>開機資料</h2>
<div class="row-fluid">
<{foreach from=$open_week.list item=comp key=cid}>
<{if ($comp.dangerFG)}>
<span class="row-fluid alert-danger">
	<{if (($comp.w==0) or  ($comp.w==6) )}>
  	<span class='label label-warning'><{$comp.sysinfo_day}></span>(<{$comp.w}>)
  <{else}>
  	<span class='label label-info'><{$comp.sysinfo_day}></span>(<{$comp.w}>)
  <{/if}>
	<span>
  <i class="icon-exclamation-sign" title="硬體更換警示"></i>
  </span>
	<span  ><{$comp.bios}></span>
	<span  ><{$comp.cpu}></span>
	<span  ><{$comp.ipaddress}></span>
	<span  ><{$comp.dhcpserver}></span>
</span>
<{else}>
<span class="span3">
	<{if (($comp.w==0) or  ($comp.w==6) )}>
  	<span class='label label-warning'><{$comp.sysinfo_day}>(<{$comp.w}>)</span>
  <{else}>
  	<span class='label label-info'><{$comp.sysinfo_day}>(<{$comp.w}>)</span>
  <{/if}>
</span>
<{/if}>
<{/foreach}>
</div>

<{else}>

<!--              今日開機的記錄                          -->
<h1>本日 Client 開機記錄</h1>

<{ $ii++ }>
<{foreach from=$list item=comp key=cid}>
<a href="hardware.php?id=<{$comp.id}>" title="查看記錄">
<{if ($comp.dangerFG)}>
<div class="alert alert-danger" title="硬體更換警示">
<{else}>
<div class="alert alert-success">
<{/if}>
<div class="row-fluid">
 <span class="badge badge-inverse">#<{$comp.id}></span>
 <{if (($comp.w==0) or  ($comp.w==6) )}>
 	<span class='label label-warning'><{$comp.sysinfo_day}></span>(<{$comp.w}>)
 <{else}>
 	<span class='label label-info'><{$comp.sysinfo_day}></span>(<{$comp.w}>)
 <{/if}>
 <span  ><{$comp.uuid}></span>
 <{if ($comp.dangerFG)}>
 <span>
 <i class="icon-exclamation-sign" title="硬體更換警示"></i>
 </span>
 <{/if}>


  <span class='label label-info'><{$comp.comp}></span>
	<span ><{$comp.workgroup}></span>
	<span ><{$comp.comp_dec}></span>
	<span ><{$comp.ps}></span>


</div>
<div class="row-fluid" id="div_<{$comp.id}>"  data='<{ $ii }>' >
	<div class='span3'><{$comp.bios}></div>
	<div class='span3'><{$comp.cpu}></div>
	<div class='span5'><{$comp.ipaddress}></div>
	<div class='span1'><{$comp.dhcpserver}></div>

</div>
</div>
</a>
<{/foreach}>


<{/if}>
