<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/css/xoops_adm.css" />

<div class="row-fluid">

<div class="alert  alert-info">
	<div class="row-fluid">
	<div class="span1"><a href="?do=<{$point}>&sort=1">處室</a> / <a href="?do=<{$point}>&sort=2">分機</a></div>
	<div class="span2"><a href="?do=<{$point}>&sort=3">IP</a></div>
	<div class="span2"><a href="?do=<{$point}>&sort=4">MAC</a></div>
	<div class="span2"><a href="?do=<{$point}>&sort=5">name</a> / <a href="?do=<{$point}>&sort=6">修改日</a></div>
	<div class="span1"><a href="?do=<{$point}>&sort=7">id↑</a> - <a href="?do=<{$point}>&sort=10">id↓</a></div>

	<div class="span2"><a href="?do=<{$point}>&sort=8">開機時間</a>/ <a href="?do=<{$point}>&sort=9">建錄日</a></div>
	<div class="span2">填報記錄</div>
	</div>
</div>
<{assign var="ii" value=1 }>
<{foreach from=$comp_list item=comp key=cid}>
<{if (($point=='input') and ($comp.input)) or ($point<>'input') }>
<{if ($comp.now==1 ) }>
	<!--  現在存活  -->
	<{if ($comp.dhcp) }>
		<div class="alert  alert-error">
		<div class="row-fluid" id="div_<{$comp.id}>"  data='<{$ii }>' >
	<{else}>
		<div class="alert  alert-success">
		<div class="row-fluid"    id="div_<{$comp.id}>" data='<{$ii }>'  >
	<{/if}>
<{elseif ($comp.now==2 )}>
	<!--  本日存活  -->

	<div class="alert  alert-info">
	<div class="row-fluid"    id="div_<{$comp.id}>" data='<{$ii }>'  >

<{else}>
 	<!--  一日前  -->
	<div class="alert">
	<div class="row-fluid " id="div_<{$comp.id}>" data='<{$ii }>'  >
<{/if}>

	<div class="span1">

	<span class="badge badge-info"><{$ii++ }></span><{$comp.kind}>-<{$comp.phid}></div>
	<div class="span2">
    <span class="ip" alt="<{$comp.ip}>"><{$comp.ip}></span><br />
      <{if ($comp.dhcpserver) }>
      ├d:<{$comp.dhcpserver}>
      <{/if}>

		<span class="ip" alt="<{$comp.ip_v6}>"><{$comp.ipv6_last}></span>
    <{if ($comp.ipv4_ext<>"") }>
    <br>├e:<{$comp.ipv4_ext}>  ├<{$comp.ipv4_in}>
    <{/if}>
	</div>
	<!---- 填報資料也加入  -->
	<div class="span2"><{$comp.mac}> <{$dhcp_List[$comp.mac]}></div>
	<div class="span2">
        <span class="label label-info"><{$comp.comp}> </span><{$comp.ps}>
        <{if ($comp.modify_day) }>
        <apan class="label " title="<{$comp.modify_day}>"><{$comp.modify_day|substr:2:8}></span>
        <{/if}>
    </div>
	  <div class="span1"><a href="hardware.php?id=<{$comp.id}>" title="查看客戶端上傳記錄"><span class="badge badge-inverse">#<{$comp.id}></span></a>
	   
	  </div>
	  <div class="span2"><{$comp.recode_time}><br/><span class="label"><{$comp.creat_day}></span></div>
	  <div class="span2">
      <{if ($comp.dangerFG)}><a href="hardware.php?id=<{$comp.id}>"><i class="icon-exclamation-sign" title="硬體更換警示"></i></a><{/if}>
      <{if ($comp.input)}><span class='alert alert-error'><{$comp.input}><i class="icon-trash del_input" data_ref="<{$comp.input_id}>"></i></span><{/if}>
    </div>

    </div>
</div>
<{/if}>
<{/foreach}>

本日開機數<{$open_mode.today}><br />
