<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/bootstrap/css/bootstrap-responsive.css" />
<link rel="stylesheet" type="text/css" media="all" href="<{$xoops_url}>/modules/tadtools/css/xoops_adm.css" />

條件日數設定：
<a href='danger.php?setDay=7'><button type="button" class="btn btn-primary">7日</button></a>
<a href='danger.php?setDay=14'><button type="button" class="btn btn-success">14日</button></a>
<a href='danger.php?setDay=30'><button type="button" class="btn btn-info">30日</button></a>

<{foreach from=$cht_list item=cht_title key=keyid}>

<{if ($all_list.$keyid)}>
<div class='btn-primary'><{ $cht_list.$keyid }></div>
<{ assign var="ii" value="1"  }>
<{/if}>
<div class="row-fluid">

<{foreach from=$all_list.$keyid item=comp key=cid}>

<div class="alert  alert-error">

<div class="row-fluid" id="div_<{$comp.id}>"  data='<{ $ii }>' >

	<div class="span1">
	<span class="badge badge-info"><{ $ii++ }></span><{$comp.kind}>-<{$comp.phid}></div>
	<div class="span2"><span class="ip" alt="<{$comp.ip}>" title="ping"><{$comp.ip}></span>
		<{if $comp.ip_v6 }>
		<span class="ip" alt="<{$comp.ip_v6}>" title="<{$comp.ip_v6}>" >ipv6</span>
		<{/if}>
	</div>
	<!---- 填報資料也加入  -->
	<a href="hardware.php?id=<{$comp.id}>" title="查看記錄">
	<div class="span2"><{$comp.mac}> <{$dhcp_List[$comp.mac]}>
		<br/>
		<{$comp.class_place}>
		<{if ($comp.scM_id) }>
		<span class="label label-success">@<{$comp.scM_id}></span>
		<{/if}>
		<{if ($comp.scM_id2) }>
		<br/>
		<span class="label label-success">+<{$comp.scM_id2}></span>
		<{/if}>
	</div>
	<div class="span2">
        <span class="label label-info"><{$comp.comp}> </span><{$comp.ps}> <{$comp.baseboard}>
        <{if ($comp.modify_day) }>
        <apan class="label " title="<{$comp.modify_day}>"><{$comp.modify_day|substr:2:8}></span>
        <{/if}>
    </div>
	  <div class="span1">

			<span class="badge badge-inverse">#<{$comp.id}></span>

	  </div>
	  <div class="span2"><{$comp.recode_time}></span> <br /><span class="label"><{$comp.creat_day}></span>
		</div>
	</a>
</div>

</div>

<{/foreach}>
</div>
<{/foreach}>


<script type="text/javascript">

//----------------ip 搜尋登錄記錄
$(document).on("click", "span.ip" ,  function(){
		//可以取得 該資料列的編號，就可以利用這編號傳給後端做處理(注意取得的階層)  editForm_
          		var ip = $(this).attr("alt")  ;
 		//alert(ip) ;
          		ajax_ip( ip) ;  // 動作
	}
 );
function ajax_ip(ip) {
	$.ajax({
		url: 'comp_ip_search.php',
		type: 'GET',
		dataType: 'html',
		data: {sip: ip},
	})
	.done(function(data) {
		console.log("success");
		alert(data) ;
	})
	.fail(function() {
		console.log("error");
	})
	.always(function() {
		console.log("complete");
	});

}

</script>
